
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #80b4e2; 
    color: #333;
    padding: 0 10px;
}

header {
    background-color: #c02e15; 
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #2e8b57;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #ffeb3b; 
}

section {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 4px solid #e7634c; 
    border-top: 4px solid #439767;
    margin-bottom: 30px;
}

section h2 {
    color: #2e8b57; 
    font-size: 2em;
    margin-bottom: 15px;
}

section p {
    font-size: 1.1em;
    line-height: 1.7;
}
footer {
    background-color: #74887d; 
    color: rgb(255, 255, 255);   
    text-align: center;
    padding: 10px;
    margin-top: 55px;
    border-radius: 5px;
    border-width: 100%;
    
    position: relative;
    top: 50px;
}

footer p {
    font-size: 1em;
}

footer a {
    color: #ffeb3b;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
